.env
.idea
*.log
.vs
.vscode
nextjs/.next
node_modules
package-lock.json
scratch
src/db/databases/*.db
src/db/seeds/student_roster.js
src/server/public/app_bundle.js
yarn.lock
yarn-error.log